<VirtualHost *:80>
    Define BASE "/var/www/SpectrosWWW"

    ServerAdmin		webmaster@qa.spectrosinstruments.com
    ServerName		localhost
    DocumentRoot	${BASE}/html
    DirectoryIndex	index.html index.php
    ReWriteEngine	On
    ReWriteRule		^/_install$ "${BASE}/core/install.php" [L]
    ReWriteRule		^/_upgrade$ "${BASE}/core/upgrade.php" [L]
    ReWriteRule		^/_test$ "${BASE}/core/test.php" [L]
    ReWriteRule		^/_(.*) "${BASE}/core/index.php" [L]

    <Directory />
	    Options FollowSymLinks
	    AllowOverride All
	    Require all granted
    </Directory>
    <Directory ${BASE}/html>
	    Options FollowSymLinks
	    AllowOverride All
	    Require all granted
    </Directory>
    <Directory ${BASE}/core>
	    Options FollowSymLinks
	    AllowOverride All
	    Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/SpectrosWWW/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/SpectrosWWW/access.log combined
</VirtualHost>
