<?php
	define ( 'BASE', '/install_path' );
	define ( 'ENV', '' );
	define ( 'PATH', '' );
	define ( 'HTML', BASE.'/html' );
	define ( 'INCLUDES', BASE.'/'.ENV.'/includes' );
	define ( 'MODULES', BASE.'/'.ENV.'/modules' );
	define ( 'THIRD_PARTY', BASE.'/third_party' );
	define ( 'RESOURCES', BASE.'/resources' );

	# Mail Server
	$_config->smtp_server = 'mail.rootseven.com';

	# Cache Mechanism (memcache or xcache)
	$_config->cache_mechanism   = "xcache";

	# Database
	$_config->database->driver              = 'mysqli';
	$_config->database->schema              = 'porkchop';
	$_config->database->master->hostname    = '127.0.0.1';
	$_config->database->master->username    = 'porkchop';
	$_config->database->master->password    = 'password';
	$_config->database->master->port		= '3306';
?>
